doctype html
html
  head
    title Quiz App
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    h1 Welcome to the Quiz App!
    p Select an option below to get started

    div.actions
      a.button(href='/api/v1/questions') Start Quiz
      a.button(href='/about') About

    footer
      p © 2024 Quiz App